Documents/Final bot/.DS_Store
Documents/.DS_Store
Documents/Final bot/.DS_Store
Documents/Final bot/gifts-check-bot/.DS_Store
Documents/Final bot/gifts-check-bot/cleaner-service/.DS_Store
.DS_Store
.DS_Store
